    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {

        font-family: "Aref Ruqaa Ink", serif;
        font-size: 62.5%;
        /*font-size=62.5% iguala 1rem a 10px*/
    }

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        list-style: none;
    }

    .background_image {
        background-image: url("../imagenes/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        background-color: white;
        background-position: center center;
    }

    /* HEADER */


    .menuNav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;
        opacity: 0.6;
        min-height: 7rem;
    }

    .menuNav i {
        visibility: hidden;
    }


    .menuNav input,
    .menuNav .fa-bars,
    .menuNav .fa-times {
        visibility: hidden;
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
    }

    .menuNav .fa-bars,
    .menuNav .fa-times {
        font-size: 48px;
        pointer-events: none;
    }

    .menuNav input {
        opacity: 0;
    }

    .menuNav input:checked~nav {
        display: block;
        opacity: 1;
    }


    .menuNav input:checked~.fa-bars {
        display: none;
    }


    .menuNav input:not(:checked)~.fa-times {
        display: none;
    }


    .menuNav_bar {
        margin: auto;
    }

    .menuNav__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        width: 5rem;
        height: 5rem;
        margin-left: 2rem;
    }

    .menuNav__logo:hover {
        transition: 00.5s;
        width: 8rem;
        height: 8rem;
    }


    .menuUl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menuUl li {
        padding: 2rem;
        font-size: 2rem;
    }



    .aNav {
        transition: 0.5s;
    }

    .aNav:hover {
        font-size: 150%;
    }



    /* BODY */

    body {
        min-height: 100vh;
    }



    /*MAIN*/

    .template {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 2rem;
        margin: 0 2rem;
        padding: 2rem 0 2rem 2rem;
        background-color: #f5f5f599;

    }

    .frontitle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7.5rem;
        text-align: center;
        background-color: whitesmoke;
        opacity: 0.6;
        position: relative;

    }



    .menu__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 5rem;

    }
 .menu_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
 }
    .menu_item {
        font-size: 5rem;
    }

    .menu_list {
        font-size: 3rem;
    }

    .menu_descripcion {
        font-size: 2rem;
        margin-left: 3rem;
    }



    .reserva {
        width: 60rem;
        margin: 0 auto;
    }

    .form_reserva {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto {
        width: 80rem;
        margin: 0 auto;
    }

    

    .form_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form_colum {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .form_colum_1 {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        width: 50%;
        justify-content: space-between;
        align-content: space-around;
    }

    
    .text_input {
        display: flex;
        height: 10rem;
        width: auto;
    }

    .form_button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 2rem;
        margin-top: 1rem;

    }

    .send_button {
        color: black;
        font-size: medium;
        background-color: green;
        border-radius: 1.2rem;
        border: hidden;
        align-items: center;
        width: 8rem;
        height: 5rem;
        opacity: 1;
        transition: 0.5s;
    }

    .send_button:hover {
        width: 9rem;
        height: 6rem;
        font-size: 110%;
    }

    /* FOOTER */

    footer i {
        font-size: 3rem;
        padding-left: 3rem;
    }


    .grid_container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10rem 1fr 6rem;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
        align-content: space-between;
        grid-auto-flow: row;
        row-gap: 2%;
    }

    header {
        grid-area: header;
        grid-column: 1/4;
        grid-row: 1/2;
        min-width: 100vh;
        
    }

    main {
        grid-area: main;
        grid-column: 1/4;
        grid-row: 2/3;
        min-height: 100vh;
        min-width: 100vh
    }

    footer {
        grid-area: footer;
        display: flex;
        grid-column: 1/4;
        grid-row: 3/4;
        color: azure;
        justify-content:flex-end;
        align-items: center;
        min-width: 100vh;
        background-color: whitesmoke;
        opacity: 0.6;
        bottom: 0;
        margin-top: 2rem;
    }







    /*MEDIA QUERIS*/
    /*Mobile*/

    @media screen and (max-width: 426px) {
        .grid_container1 {
            grid-template-columns: 1fr;
            grid-template-rows: 5rem 1fr 10%;
            grid-template-areas:
                "header"
                "main"
                "footer";
            height: auto;
            row-gap: 2rem;
                    }

        .menuNav {
            position: relative;
            opacity: 1;
            background-color: #f5f5f5b9
        }

        .menuNav_index {
            display: flex;
            flex-direction: column;
            width: 75%;
        }

        .menuNav_bar ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: #f5f5f5b9;
        }

        .menuNav i,
        .menuNav input {
            visibility: visible;

        }

        .menuUl {
            display: flex;
            flex-direction: column;
            min-height: fit-content;
            background-color: #f5f5f5b9;

        }

        .menuUl li {
            padding: 4rem;
            opacity: 1;
        }

        .menuUl__hiddenObj {
            display: none;
        }

        .menuNav__logo {
            display: none;

        }

        .template {
            margin: 0;
            padding: 0;
        }

        .reserva {
            display: flex;
            flex-direction: column;
            width: 100vh;
        }

        .form_row {
            flex-direction: column;
        }

        .form_colum_1 {
            margin: 0;

        }

        .form_button {
            justify-content: flex-end;
            margin right: 0;
        }

        header {
            grid-area: header;
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0;
            z-index: 2;
            min-height: fit-content;
        }

        main {

            grid-area: main;
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0;
        }

        footer {
            grid-area: footer;
            grid-column: 1/2;
            grid-row: 3/4;
            margin-top: none;
            bottom: 0;
            
        }


        .menuNav input[type="checkbox"],
        .menuNav .fa-bars,
        .menuNAv .fa-times {
            visibility: visible;
        }

        .menuNav nav {
            display: none;
            margin: 0;

            background-color: #f5f5f5b9;
            background: fixed;
        }

        .menuNav .fa-bars,
        .menuNav .fa-times {
            font-size: 48px;
            pointer-events: none;
            visibility: visible;

        }

        .menuNav input:checked~nav {
            background-color: #66ae00;
            opacity: 1;
        }

        footer i {
            font-size: 4rem;
        }
        .contacto{
            width: 100vh;
        }
        .menuNav .fa-bars,
    .menuNav .fa-times {
        font-size: 4rem;
        pointer-events: none;
    }
    }