    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {

        font-family: "Aref Ruqaa Ink", serif;
        font-size: 62.5%;
        /*font-size=62.5% iguala 1rem a 10px*/
    }

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        list-style: none;
    }

    .background_image {
        background-image: url("../imagenes/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        background-color: white;
        background-position: center center;
    }

    /* HEADER */


    .menuNav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;
        opacity: 0.6;
        padding: 0rem 0rem 0rem 2rem;
        min-height: 7rem;
    }

    .menuNav i,
    .menuNav input {
        visibility: hidden;
    }

    .menuNav_index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;
        opacity: 0.6;
        padding: 0rem 0rem 0rem 2rem;
        min-height: 7rem;
    }

    .menuNav_bar {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .menuNav__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        width: 5rem;
        height: 5rem;
    }

    .menuNav__logo:hover {
        transition: 00.5s;
        width: 8rem;
        height: 8rem;
    }


    .menuUl {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .menuUl li {
        padding: 2rem;
        font-size: 2rem;
    }

    .menuUl__hiddenObj {
        visibility: hidden;
    }

    .aNav {
        font-size: 2rem;

        transition: 0.5s;
    }

    .aNav:hover {
        font-size: 150%;
    }


    /* BODY */

    body {
        min-height: 100%;
    }


    .template {

        font-size: 2rem;
        margin: 2rem;
        padding: 2rem 0rem 2rem 2rem;
        background-color: rgb(245, 245, 245, 0.6);
    }

    /*MAIN*/

    .frontitle {

        justify-content: center;
        align-items: center;
        font-size: 7.5rem;
        text-align: center;
        background-color: whitesmoke;
        opacity: 0.6;
        position: relative;

    }


    .menu__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        margin-top: 2rem;
    }

    .menu_item {
        font-size: 5rem;
    }

    .menu_list {
        font-size: 3rem;
    }

    .menu_descripcion {
        font-size: 2rem;
        margin-left: 3rem;
    }

    .flex_container_menu {
        display: flex;
        flex-direction: column;
        align-content: center;
    }


    .reserva {
        width: 60rem;
        margin-right: auto;
        margin-left: auto;
    }

    .form_reserva {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacto {
        height: auto;
        width: 80rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }

    .form_item {
        padding: 0.5rem;
        margin-bottom: 0rem;
        width: auto;
    }

    .form_row {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .form_colum {
        display: flex;
        flex-direction: column;
        width: 1fr;
        align-content: space-between;
    }

    .form_colum_1 {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
        width: 70%;
        align-content: space-around;
    }

    .form_select {
        width: 20rem;
    }

    .text_input {
        display: flex;
        height: 10rem;
        width: auto;
    }

    .form_button {
        display: flex;
        justify-content: right;
        margin-right: 2rem;
        flex-direction: row;
        margin-top: 1rem;
    }

    .send_button {
        color: black;
        font-size: medium;
        background-color: green;
        border-radius: 1.2rem;
        border: #f5f5f5;
        align-items: center;
        width: 8rem;
        height: 5rem;
        opacity: 1;
        transition: 0.5s;
    }

    .send_button:hover {
        width: 9rem;
        height: 6rem;
        font-size: 110%;
    }

    /* FOOTER */

    .redes a i {
        font-size: 2rem;
        padding-left: 1rem;
    }






    /*GRID*/
    .grid_container1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 15% 1fr 10%;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
        align-content: space-between;
          height: 100vh;
    }


    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
      
    .grid_container_menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 1fr 5%;
          grid-template-areas:
            "header"
            "main"
            "footer";
        grid-auto-flow: row;
        align-content: space-around;
    }

    header {
        grid-area: header;
        grid-column: 1/4;
        grid-row: 1/2;
        min-width: 100vh;
    }

    main {
        grid-area: main;
        grid-column: 1/4;
        grid-row: 2/5;
        min-height: 100vh;
        min-width: 100vh;

    }

    footer {
        grid-area: footer;
        display: flex;
        grid-column: 1/4;
        grid-row: 5/6;
        color: azure;
        justify-content: right;
        align-items: center;
        width: 100%;
        background-color: whitesmoke;
        opacity: 0.6;
        bottom: 0;
    }





    .menuNav input[type="checkbox"],
    .menuNav .fa-bars,
    .menuNav .fa-times {
        visibility: hidden;
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
    }

    .menuNav .fa-bars,
    .menuNav .fa-times {
        font-size: 48px;
        pointer-events: none;
    }

    .menuNav input[type="checkbox"] {
        opacity: 0;
    }

    .menuNav input:checked~nav {
        display: block;
    }

    .menuNav input:checked~.fa-bars {
        display: none;
    }

    .menuNav input:not(:checked)~.fa-times {
        display: none;
    }

    /*MEDIA QUERIS*/
    /*Mobile*/

    @media screen and (max-width: 426px) {
        .grid_container1 {
            grid-template-columns: 100%;
            grid-template-areas:
                'main main main'
                'header header header'
                'footer footer footer';
            height: auto;
            row-gap: none;
        }

        .menuNav_index {
            display: flex;
            flex-direction: column;
            width: 75%;
        }

        .menuNav_bar ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .menuNav i,
        .menuNav input {
            visibility: visible;
        }

        .menuUl {
            display: flex;
            flex-direction: column;
            min-height: fit-content;

        }

        .menuUl li {
            padding: 4rem;
        }

        .menuUl__hiddenObj {
            display: none;
        }

        .menuNav__logo {
            display: none;

        }

        .reserva {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .form_row {
            flex-direction: column;
        }

        .form_colum_1 {
            margin: 0;

        }

        .form_button {
            justify-content: start;
            margin right: 0;
        }

        header {
            grid-area: header;
            margin: 0;
        }

        main {
            grid-area: main;
            width: 100%;
            margin: 0;
        }

        footer {
            grid-area: footer;
            width: 100vh;
            margin-top: none;
        }


        .menuNav input[type="checkbox"],
        .menuNav .fa-bars,
        .menuNAv .fa-times {
            visibility: visible;
        }

        .menuNav nav {
            display: none;
        }
    }